@font-face {
    font-family: "DaddyTimeMonoNerdFontMono";
    src: url("../fonts/DaddyTimeMonoNFM.woff2") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GreatVibes";
    src: url("../fonts/GreatVibes-Regular-2.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HFIntimate";
    src: url("../fonts/HFIntimate-2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    width: 98%;
    height: 90%;
    padding-left: 3%;
    background-color: #cccccc;
    /* TODO:背景色 */
}

/* TODO：每个模块 */
.everyModel {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    border-radius: 10px;
    border-width: 2px;
    margin: 0.7%;
    width: 15%;
    padding: 0px;
    transition: transform 0.4s ease;
    /* transition: 0.4s; */

}

.everyModel_center0 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 36%;
    left: 18%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 5;
    opacity: 0.5;
}

.everyModel_center1 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 6;
    opacity: 0.9;
}

.everyModel_center2 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 7;
    opacity: 1;
}

.everyModel_center3 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 8;
}

.everyModel_center4 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 7;
    opacity: 1;
}

.everyModel_center5 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 6;
    opacity: 0.9;
}

.everyModel_center6 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 36%;
    left: 82%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 5;
    opacity: 0.5;
}

.everyModel:hover {
    transition: transform 0.3s ease;
}

.to_center {
    transition: transform 0.5s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 9999;
}



.card_img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.59;
    border-radius: 8px;
    /* box-shadow: 1px 1px 3px #8f8f8f7e; */
}

.everyModel_hiden {
    visibility: hidden;
}


.everyModel_BOB {
    box-shadow: 1px 1px 8px #cb030d3d;
}

.everyModel_BOC {
    box-shadow: 1px 1px 8px #A71E323d;
}

.everyModel_CCB {
    box-shadow: 1px 1px 8px #0066B33d;
}

.everyModel_CEB {
    box-shadow: 1px 1px 8px #6A16853d;
}

.everyModel_CGB {
    box-shadow: 1px 1px 8px #E600213d;
}

.everyModel_CIB {
    box-shadow: 1px 1px 8px #003F973d;
}

.everyModel_CMB {
    box-shadow: 1px 1px 8px #A300303d;
}

.everyModel_ICBC {
    box-shadow: 1px 1px 8px #C7000A3d;
}

.everyModel_SPDB {
    box-shadow: 1px 1px 8px #0000733d;
}

.everyModel_BOB:hover {
    box-shadow: 3px 3px 8px #cb030d73;
}

.everyModel_BOC:hover {
    box-shadow: 3px 3px 8px #A71E3273;
}

.everyModel_CCB:hover {
    box-shadow: 3px 3px 8px #0066B373;
}

.everyModel_CEB:hover {
    box-shadow: 3px 3px 8px #6A168573;
}

.everyModel_CGB:hover {
    box-shadow: 3px 3px 8px #E6002173;
}

.everyModel_CIB:hover {
    box-shadow: 3px 3px 8px #003F9773;
}

.everyModel_CMB:hover {
    box-shadow: 3px 3px 8px #A3003073;
}

.everyModel_ICBC:hover {
    box-shadow: 3px 3px 8px #C7000A73;
}

.everyModel_SPDB:hover {
    box-shadow: 3px 3px 8px #00007373;
}

/* 
工商银行      #C7000A    https://sc.tanzhix.com/yhtb/gs.png
交通银行      #00377A    https://sc.tanzhix.com/yhtb/jt.png
招商银行      #A30030    https://sc.tanzhix.com/yhtb/zs.png
民生银行      #0072BC    https://sc.tanzhix.com/yhtb/ms.png
中信银行      #D70010    https://sc.tanzhix.com/yhtb/zx.png
浦发银行      #000073    https://sc.tanzhix.com/yhtb/pf.png
兴业银行      #003F97    https://sc.tanzhix.com/yhtb/xy.png
光大银行      #6A1685    https://sc.tanzhix.com/yhtb/gd.png
广发银行      #E60021    https://sc.tanzhix.com/yhtb/gf.png
平安银行      #F15A25    https://sc.tanzhix.com/yhtb/pa.png
北京银行      #CB030D    https://sc.tanzhix.com/yhtb/bj.png
华夏银行      #DB0D17    https://sc.tanzhix.com/yhtb/hx.png
农业银行      #319C8B    https://sc.tanzhix.com/yhtb/ny.png
建设银行      #0066B3    https://sc.tanzhix.com/yhtb/js.png
邮政银行      #02724A    https://sc.tanzhix.com/yhtb/yz.png
中国银行      #A71E32    https://sc.tanzhix.com/yhtb/zg.png
宁波银行      #EF8F38    https://sc.tanzhix.com/yhtb/nb.png 
*/


#app {
    margin-top: 20px;
}

.tittle_name {
    font-family: DaddyTimeMonoNerdFontMono;
    padding-left: 5px;
    display: inline;
    font-weight: bold;
    font-size: 15px;
}

.detial_name {
    display: inline;
    text-align: right;
    position: absolute;
    right: 4px;
    font-size: 15px;
    padding-bottom: 0px;
    padding-right: 2px;
}

.bank_name {
    font-family: DaddyTimeMonoNerdFontMono;
    font-weight: bold;
    font-size: 13px;
}

.bill_date {
    font-weight: bold;
}

.loan,
.card_tax,
.card_name {
    font-family: DaddyTimeMonoNerdFontMono;
}

.card_name {
    font-weight: bold;
}

.card_union {
    font-family: DaddyTimeMonoNerdFontMono;
}

.card_level {
    font-family: HFIntimate;
}

.tax_free,
.tax_status,
.ext {
    font-family: DaddyTimeMonoNerdFontMono;
}

.ext {
    padding-top: 5px;
    font-size: 10px;
}


/* TODO:竖屏 */
@media (orientation: portrait) {

    /* TODO:每个模块 */
    .everyModel {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        /* border-color: ebeff5; */
        border-radius: 5px;
        /* border-style: solid; */
        border-width: 2px;
        margin: 0.7%;
        margin-left: 2%;
        width: 30%;
        padding: 0px;
        padding-bottom: 2px;
        background-color: #ebeff5;
        box-shadow: 1px 1px 8px #bfc3c7;
        /*transition: transform 0.5s ease;*/
    }

    .everyModel_BOB {
        box-shadow: 1px 1px 8px #cb030d3d;
    }

    .everyModel_BOC {
        box-shadow: 1px 1px 8px #A71E323d;
    }

    .everyModel_CCB {
        box-shadow: 1px 1px 8px #0066B33d;
    }

    .everyModel_CEB {
        box-shadow: 1px 1px 8px #6A16853d;
    }

    .everyModel_CGB {
        box-shadow: 1px 1px 8px #E600213d;
    }

    .everyModel_CIB {
        box-shadow: 1px 1px 8px #003F973d;
    }

    .everyModel_CMB {
        box-shadow: 1px 1px 8px #A300303d;
    }

    .everyModel_ICBC {
        box-shadow: 1px 1px 8px #C7000A3d;
    }

    .everyModel_SPDB {
        box-shadow: 1px 1px 8px #0000733d;
    }

    .everyModel_BOB:hover {
        box-shadow: 3px 3px 8px #cb030d73;
    }

    .everyModel_BOC:hover {
        box-shadow: 3px 3px 8px #A71E3273;
    }

    .everyModel_CCB:hover {
        box-shadow: 3px 3px 8px #0066B373;
    }

    .everyModel_CEB:hover {
        box-shadow: 3px 3px 8px #6A168573;
    }

    .everyModel_CGB:hover {
        box-shadow: 3px 3px 8px #E6002173;
    }

    .everyModel_CIB:hover {
        box-shadow: 3px 3px 8px #003F9773;
    }

    .everyModel_CMB:hover {
        box-shadow: 3px 3px 8px #A3003073;
    }

    .everyModel_ICBC:hover {
        box-shadow: 3px 3px 8px #C7000A73;
    }

    .everyModel_SPDB:hover {
        box-shadow: 3px 3px 8px #00007373;
    }

    .tittle_name {
        font-family: DaddyTimeMonoNerdFontMono;
        padding-left: 5px;
        display: inline;
        font-weight: bold;
        font-size: 24px;
    }

    .detial_name {
        display: inline;
        text-align: right;
        position: absolute;
        right: 4px;
        font-size: 24px;
        padding-bottom: 0px;
        padding-right: 2px;
    }

    .ext {
        font-size: 16px;
    }

    .bank_name {
        font-family: DaddyTimeMonoNerdFontMono;
        font-weight: bold;
        font-size: 22px;
    }

}