@font-face {
    font-family: "DaddyTimeMonoNerdFontMono";
    src: url("../fonts/DaddyTimeMonoNFM.woff2") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    width: 98%;
    padding-left: 3%;
    /* background: url(../img/mcc.jpg) no-repeat fixed; */
    /* TODO:背景 */
    background: url(../img/st.jpg) fixed;
    /* background-size: 100% 100%; */
    background-size: cover;
    scroll-behavior: smooth;
}

/* TODO：每个模块 */
.everyModel {
    background-color: rgba(52, 52, 52, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 10px;
    border-width: 2px;
    margin: 0.7%;
    width: 15%;
    padding: 0 0 2px;
    color: rgba(255, 255, 255, 0.75);
    transition: transform 0.5s ease;
}

/* 
工商银行      #C7000A    https://sc.tanzhix.com/yhtb/gs.png
交通银行      #00377A    https://sc.tanzhix.com/yhtb/jt.png
招商银行      #A30030    https://sc.tanzhix.com/yhtb/zs.png
民生银行      #0072BC    https://sc.tanzhix.com/yhtb/ms.png
中信银行      #D70010    https://sc.tanzhix.com/yhtb/zx.png
浦发银行      #000073    https://sc.tanzhix.com/yhtb/pf.png
兴业银行      #003F97    https://sc.tanzhix.com/yhtb/xy.png
光大银行      #6A1685    https://sc.tanzhix.com/yhtb/gd.png
广发银行      #E60021    https://sc.tanzhix.com/yhtb/gf.png
平安银行      #F15A25    https://sc.tanzhix.com/yhtb/pa.png
北京银行      #CB030D    https://sc.tanzhix.com/yhtb/bj.png
华夏银行      #DB0D17    https://sc.tanzhix.com/yhtb/hx.png
农业银行      #319C8B    https://sc.tanzhix.com/yhtb/ny.png
建设银行      #0066B3    https://sc.tanzhix.com/yhtb/js.png
邮政银行      #02724A    https://sc.tanzhix.com/yhtb/yz.png
中国银行      #A71E32    https://sc.tanzhix.com/yhtb/zg.png
宁波银行      #EF8F38    https://sc.tanzhix.com/yhtb/nb.png 
*/

#app {
    margin-top: 3%;
}

.everyModel img {
    margin: 1% 1.2% 2.2%;
    width: 98%;
    object-fit: cover;
    aspect-ratio: 1.59;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #8f8f8f7e;
}

.tittle_name {
    font-family: DaddyTimeMonoNerdFontMono;
    padding-left: 5px;
    display: inline;
    font-weight: bold;
    font-size: 15px;
    /*color: rgba(255, 255, 255, 0.75);*/
}

.detial_name {
    display: inline;
    text-align: right;
    position: absolute;
    right: 4px;
    font-size: 15px;
    padding-bottom: 0;
    padding-right: 2px;
    /*color: rgba(255, 255, 255, 0.75);*/
}

.bank_name {
    font-family: DaddyTimeMonoNerdFontMono;
    font-weight: bold;
    font-size: 13px;
}

.bill_date {
    font-weight: bold;
}

.loan,
.card_tax,
.card_name {
    font-family: DaddyTimeMonoNerdFontMono;
}

.card_name {
    font-weight: bold;
}

.card_union {
    font-family: DaddyTimeMonoNerdFontMono;
}

.card_level {
    font-family: HFIntimate;
}

.tax_free,
.tax_status,
.ext {
    font-family: DaddyTimeMonoNerdFontMono;
}

.ext {
    padding-top: 5px;
    font-size: 10px;
}


.to_center {
    transition: transform 0.5s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 10;
}

#top_container {
    position: fixed;
    top: 0;
    padding-top: 3px;
    width: 100%;
    height: 30px;
    box-shadow: 3px 3px 8px #00007373;
    transform: translate(-3%, 0);
    z-index: 12;
    background-color: rgba(52, 52, 52, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-left: 3%;
    font-family: DaddyTimeMonoNerdFontMono;
    /*font-weight: 600;*/
    text-align: center;
}

#top_container span {
    padding-right: 26px;
    cursor: pointer;
    color: #ffffff;
    /*text-shadow: 2px 1px 1px #ffffff88, -2px 0 1px #ffffff88;*/
    font-size: 18px;
}

#top_container a {
    padding-right: 26px;
    cursor: pointer;
    color: #ffffff;
    /*text-shadow: 2px 1px 2px #ffffff88, -2px 0 2px #ffffff88;*/
    font-size: 16px;
}

#top_container a:hover {
    /*text-shadow: 3px 1px 2px #fdfdfdb2, -2px 0 2px #fdfdfdd5;*/
    text-decoration: none;
}

#top_container a:active {
    text-decoration: none;
}

#top_container a:visited {
    text-decoration: none;
}

#everyBank {
    margin-left: 2%;
    font-weight: bold;
    font-family: DaddyTimeMonoNerdFontMono;
}

/* TODO:竖屏 */
@media (orientation: portrait) {



    #app {
        margin-top: 6%;
    }

    #top_container {
        position: fixed;
        top: 0;
        width: 100%;
        height: 30px;
        box-shadow: 3px 3px 8px #00007373;
        transform: translate(-3%, 0);
        z-index: 12;
        background-color: rgba(52, 52, 52, 0.75);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding-left: 1%;
        text-justify: auto;
    }

    #everyBank {
        margin-left: 1%;
        font-weight: bold;
        font-family: DaddyTimeMonoNerdFontMono;
        font-size: 115%;
    }

    /* TODO:每个模块 */
    .everyModel {
        background-color: rgba(52, 52, 52, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 5px;
        border-width: 2px;
        margin: 0.7% 0.7% 0.7% 2%;
        width: 30%;
        padding: 0 0 2px;
        box-shadow: 1px 1px 8px #bfc3c7;
    }

    .tittle_name {
        font-family: DaddyTimeMonoNerdFontMono;
        padding-left: 5px;
        display: inline;
        font-weight: bold;
        font-size: 24px;
    }

    .detial_name {
        display: inline;
        text-align: right;
        position: absolute;
        right: 4px;
        font-size: 24px;
        padding-bottom: 0;
        padding-right: 2px;
    }

    .ext {
        font-size: 16px;
    }

    .bank_name {
        font-family: DaddyTimeMonoNerdFontMono;
        font-weight: bold;
        font-size: 22px;
    }

}


.BOB {
    color: #cb030d;
}

.BOC {
    color: #A71E32;
}

.CCB {
    color: #0066B3;
}

.CEB {
    color: #6A1685;
}

.CGB {
    color: #E60021;
}

.CIB {
    color: #003F97;
}

.CMB {
    color: #A30030;
}

.ICBC {
    color: #C7000A;
}

.SPDB {
    color: #000073;
}

.NS {
    color: #319C8B;
}

.CITIC {
    color: #D70010;
}



.delClass {
    font-style: italic;
    color: rgba(52, 52, 52, 0.75);
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    font-family: DaddyTimeMonoNerdFontMono;
    font-size: 12px;
    font-weight: normal;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.table0 {
    width: 50%;
}

.table1 {
    width: 100%;
}


th,
td {
    border: 1px solid #dddddd97;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

table thead tr {
    background-color: rgba(52, 52, 52, 0.75);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

table tbody tr {
    background-color: #eee;
}

table tbody tr:hover {
    background-color: #74747497;
}

table tfoot tr td {
    text-align: right;
    padding-right: 20px;
}


.back_BOB {
    background-color: #cb030d97;
}

.back_BOC {
    background-color: #A71E3297;
}

.back_CCB {
    background-color: #0066B397;
}

.back_CEB {
    background-color: #6A168597;
}

.back_CGB {
    background-color: #E6002197;
}

.back_CIB {
    background-color: #003F9797;
}

.back_CMB {
    background-color: #A3003097;
}

.back_ICBC {
    background-color: #C7000A97;
}

.back_SPDB {
    background-color: #00007397;
}

.back_NS {
    background-color: #319C8B97;
}

.back_CITIC {
    background-color: #D7001097;
}

.top_part_div {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.anchor-element {
    position: relative;
    top: -45px;
    visibility: hidden;
}

#timer {
    font-size: 14px;
    font-family: DaddyTimeMonoNerdFontMono;
}


.img_del {
  opacity:0.5;
  filter:alpha(opacity=50); /* IE8 及其更早版本 */
  text-decoration: line-through;
}