@font-face {
    font-family: "DaddyTimeMonoNerdFontMono";
    src: url("../fonts/DaddyTimeMonoNFM.woff2") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    width: 98%;
    height: 90%;
    padding-left: 3%;
    background-color: #cccccc;
    /* TODO:背景色 */
}

/* TODO：每个模块 */
.everyModel {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    border-radius: 12px;
    border-width: 2px;
    margin: 0.7%;
    width: 15%;
    padding: 0px;
    transition: transform 0.4s ease;
    vertical-align: bottom;
}

.everyModel_center0 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 36%;
    left: 18%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 5;
    opacity: 0.5;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 25%, rgba(255, 255, 255, .3));
}

.everyModel_center1 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 6;
    opacity: 0.9;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 45%, rgba(255, 255, 255, .3));
}

.everyModel_center2 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 7;
    opacity: 1;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, .3));
}

.everyModel_center3 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 8;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, .3));
}

.everyModel_center4 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 7;
    opacity: 1;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, .3));
}

.everyModel_center5 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 6;
    opacity: 0.9;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 45%, rgba(255, 255, 255, .3));
}

.everyModel_center6 {
    transition: transform 0.5s ease;
    position: fixed;
    top: 36%;
    left: 82%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 5;
    opacity: 0.5;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 25%, rgba(255, 255, 255, .3));
}

.card_img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.59;
    border-radius: 10px;
}

.everyModel_hiden {
    visibility: hidden;
}


#app {
    margin-top: 20px;
}

.tittle_name {
    font-family: DaddyTimeMonoNerdFontMono;
    padding-left: 5px;
    display: inline;
    font-weight: bold;
    font-size: 15px;
}

.detial_name {
    display: inline;
    text-align: right;
    position: absolute;
    right: 4px;
    font-size: 15px;
    padding-bottom: 0px;
    padding-right: 2px;
}

.bank_name {
    font-family: DaddyTimeMonoNerdFontMono;
    font-weight: bold;
    font-size: 13px;
}

.bill_date {
    font-weight: bold;
}

.loan,
.card_tax,
.card_name {
    font-family: DaddyTimeMonoNerdFontMono;
}

.card_name {
    font-weight: bold;
}

.card_union {
    font-family: DaddyTimeMonoNerdFontMono;
}

.card_level {
    font-family: HFIntimate;
}

.tax_free,
.tax_status,
.ext {
    font-family: DaddyTimeMonoNerdFontMono;
}

.ext {
    padding-top: 5px;
    font-size: 10px;
}


/* TODO:竖屏 */
@media (orientation: portrait) {

    /* TODO:每个模块 */
    .everyModel {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: fixed;
        border-radius: 12px;
        border-width: 2px;
        margin: 0.7%;
        width: 30%;
        padding: 0px;
        transition: transform 0.4s ease;
        vertical-align: bottom;
    }

    .tittle_name {
        font-family: DaddyTimeMonoNerdFontMono;
        padding-left: 5px;
        display: inline;
        font-weight: bold;
        font-size: 24px;
    }

    .detial_name {
        display: inline;
        text-align: right;
        position: absolute;
        right: 4px;
        font-size: 24px;
        padding-bottom: 0px;
        padding-right: 2px;
    }

    .ext {
        font-size: 16px;
    }

    .bank_name {
        font-family: DaddyTimeMonoNerdFontMono;
        font-weight: bold;
        font-size: 22px;
    }

}