body {
    background-color: #e9e9e9;
    /*background-image: url("../img/alist.svg");*/
    font-family: DaddyTimeMonoNerdFontMono, MapleMono, Tahoma, Verdana, Arial, PMingLiu, MingLiu;
    padding: 0px;
    margin: 0px;
    border: 0px;
}


@font-face {
    font-family: 'MapleMono';
    src: url('../fonts/MapleMono-CN-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MapleMonoLight';
    src: url('../fonts/MapleMono-CN-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MapleMonoLighter';
    src: url('../fonts/MapleMono-CN-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '0xProtoNerdFontMono';
    src: url('../fonts/0xProtoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AgaveNerdFontMono';
    src: url('../fonts/AgaveNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DaddyTimeMonoNerdFontMono';
    src: url('../fonts/DaddyTimeMonoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HackNerdFontMono';
    src: url('../fonts/HackNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.containerMain {
    /*padding-left: 7%;
    padding-top: 4%;*/
    margin: 0px;
    /*width: 95%;*/
    margin: auto;
    position: absolute;
    top: 14%;
    left: 6%;
    right: 8%;
    /*margin-left: 5%;*/
}


.firstFlow {
    padding: 0px;
    padding-left: 6%;
}

.firstFlowoo {
    padding: 0px;
    padding-left: 0px;
}

.firstFlowcc {
    padding: 0px;
    padding-left: 0px;
    margin-left: 2%;
}

div .firstFlowFirstColm {
    width: 100%;
    height: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    border-radius: 2px;
    /*background-color: #C1CDCD;*/
    /*cursor: pointer;*/
    /*color: white;*/
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

div .firstFlowFirstColmo {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: #8388889d;
    color: white;
    font-size: 15px;
    font-weight: bold;
    /*color: rgba(0, 0, 0, 0.5);*/
    border-radius: 0px 8px 8px 0px;
}


.mouseOn {
    cursor: pointer;
}

.containerMain input {
    width: 100%;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #b3b3b3;
}

.searchengine {
    margin-bottom: 10px;
    width: 100px;
}


.engon{
    /*text-decoration: underline;*/
    text-decoration-style: wavy;
    transform: scale(1.2);
    text-shadow: 2px 2px 1px #b3b3b3;
}

.divhei {
    height: 90px;
}

.btntitle {
    margin: 0px 0px 0px 5%;
}

.weatherClass {
    margin: 0px;
    height: 20px;
    position: absolute;
    padding-left: 10px;
    right: 20px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.holidayClass {
    margin: 0px;
    height: 20px;
    position: absolute;
    padding-right: 10px;
    left: 20px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

#weathertoday {
    top: 8px;
}

#weathertomorrow {
    top: 28px;
}

.menu {
    position: absolute;
    height: 100%;
    z-index: 2;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.menuColor {
    background-color: rgba(134, 146, 146, 0.295);
}

.menu img {
    padding-left: 10px;
    padding-top: 10px;
}

.collect_list p {
    margin: 0px;
    width: 100%;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 15px;
}

.hide {
    display: none;
}

#addUrl {
    width: 80%;
    height: 30px;
}

.addCon {
    position: absolute;
    z-index: 3;
    height: 70%;
    width: 70%;
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;
    background-color: rgba(134, 146, 146, 0.6);
    color: rgba(255, 255, 255, 0.589);
}

.closeAddCon {
    height: 35px;
    width: 35px;
    padding: 0px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 30px;
    font-weight: bolder;
    z-index: 4;
}

.addURLTitle {
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addURLName {
    font-size: 20px;
    font-weight: bolder;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}


.addURLInput {
    color: #b3b3b3;
    font-size: 20px;
    font-weight: bolder;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}