.a {
    /*background-color: #C1CDCD;*/
    color: rgb(62, 62, 62);
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
}

.yj {
    color: rgb(254, 150, 14);
}

.hy {
    color: rgb(0, 175, 169);
}