<!DOCTYPE>
<html height:100% width:100%>

<head>
    <meta charset="utf-8" />
    <title>HOME</title>
    <link rel="icon" href="./img/favicon.ico" />
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/webfont.css" rel="stylesheet" />
    <link href="./css/common_new.css" rel="stylesheet" />
    <script src="https://cdn.staticfile.net/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>

<body height:100% width:95%>

    <p id="weathertoday" class="weatherClass mouseOn">{{weathertoday}}</p>
    <div id="holiday" class="holidayClass mouseOn">
        <div @click="openPage(site.url)">
            <p></p>
            <i class="nf nf-fa-tree"></i>
        </div>
    </div>

    <div class="containerMain">

        <div class="row searchModel" id="search_icons">
            <div v-bind:class="searchImgEx4_class"></div>
            <div v-bind:class="searchImg_class" v-for="site in search_sites">
                <div class="divhei" style="padding-left: 2px;padding-right: 4px;padding-top: 2px;padding-bottom: 2px;">
                    <div id="baidueng" v-bind:class="site.search_calss" @click="selectSearch(site.index)">
                        <i v-bind:class="site.icon_class" v-bind:style="site.icon_color"></i>
                        <p class="btntitle">{{site.name_txt}}</p>
                    </div>
                </div>
            </div>
            <div v-bind:class="searchImgEx5_class"></div>
        </div>

        <div class="row searchModel">
            <div v-bind:class="searchExCh_class"></div>
            <div v-bind:class="searchCh_class">
                <input type="text" name="" value="" id="Oinput" v-model="search_str" @keyup.enter="witchSearch">
            </div>
            <div class="col-xs-5 col-sm-1 firstFlowoo">
                <div class="divhei" style="padding: 0px;">
                    <div id="search" class="firstFlowFirstColmo
                            mouseOn" @click="witchSearch"><i class="nf nf-fa-search"></i>
                    </div>
                </div>
            </div>
            <div v-bind:class="searchExCh_class"></div>
        </div>

        <!--链接-->
        <div class="row all_link" id="linklist">
            <div class="col-sm-4 col-md-2 firstFlow" v-for="site in link_sites">
                <div class="divhei" style="padding-left: 2px;padding-right: 4px;padding-top: 2px;padding-bottom: 2px;">
                    <div class="firstFlowFirstColm mouseOn" @click="openPage(site.url)">
                        <i v-bind:class="site.icon_class" v-bind:style='site.icon_color'></i>
                        <p class="btntitle">{{site.name_txt}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="./script/pages/index.js"></script>

</body>

</html>