<!DOCTYPE>
<html lang="zh-CN">

<head>
    <meta charset="utf-8"/>
    <title>home</title>
    <link href="./img/favicon.ico" rel="icon"/>
    <link href="./css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./css/webfont.min.css" rel="stylesheet"/>
    <link href="./css/common.css" rel="stylesheet"/>
    <script src="./script/base/vue.min.js"></script>
    <script src="./script/base/vue-resource.min.js"></script>
</head>

<body>

<p class="weatherClass mouseOn" id="weathertoday">{{currentTime + weathertoday}}</p>
<div class="holidayClass mouseOn" id="holiday">
    <div>
        <p></p>
        <i @click="openPage('./card.html')" class="nf nf-fa-tree"></i>
    </div>
</div>

<div class="containerMain">

    <div class="row searchModel" id="search_icons">
        <div v-bind:class="searchImgEx4_class"></div>
        <div v-bind:class="searchImg_class" v-for="site in search_sites">
            <div class="divhei" style="padding-left: 2px;padding-right: 4px;padding-top: 2px;padding-bottom: 2px;">
                <div @click="selectSearch(site.index)" id="baidueng" v-bind:class="site.search_calss">
                    <i v-bind:class="site.icon_class" v-bind:style="site.icon_color"></i>
                    <!-- <i v-bind:style="site.icon_color">{{site.icon}}</i> -->
                    <p class="btntitle">{{site.name_txt}}</p>
                </div>
            </div>
        </div>
        <div v-bind:class="searchImgEx5_class"></div>
    </div>

    <div class="row searchModel">
        <div v-bind:class="searchExCh_class"></div>
        <div v-bind:class="searchCh_class">
            <input @keyup.enter="witchSearch" id="Oinput" name="" type="text" v-model="search_str" value="">
        </div>
        <div class="col-xs-5 col-sm-1 firstFlowoo">
            <div class="divhei" style="padding: 0px;">
                <div @click="witchSearch" class="firstFlowFirstColmo
                            mouseOn" id="search"><i class="nf nf-fa-search"></i>
                </div>
            </div>
        </div>
        <div v-bind:class="searchExCh_class"></div>
    </div>

    <!--链接-->
    <div class="row all_link" id="linklist">
        <div v-bind:class="getPagesStyle()" v-for="site in link_sites">
            <div class="divhei" style="padding-left: 2px;padding-right: 4px;padding-top: 2px;padding-bottom: 2px;">
                <div @click="openPage(site.url)" class="firstFlowFirstColm mouseOn">
                    <i v-bind:class="site.icon_class" v-bind:style='site.icon_color'></i>
                    <!-- <i v-bind:style="site.icon_color">{{site.icon}}</i> -->
                    <p class="btntitle">{{site.name_txt}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <i @click="changePages('home')" class="nf nf-fa-home"> Home</i>
        <i @click="changePages('congya')" class="nf nf-md-duck"> Congya</i>
        <i @click="changePages('ssr')" class="nf nf-fa-paper_plane"> SSR</i>
        <i @click="changePages('work')" class="nf nf-fae-medicine"> Work</i>
    </div>

</div>

<script src="./script/main.js"></script>

</body>

</html>